<server description="Example Server">

    <!-- Enable features -->
    <featureManager>
        <feature>beanValidation-2.0</feature>
        <feature>cdi-2.0</feature>
        <feature>el-3.0</feature>
        <feature>jsp-2.3</feature>
        <feature>jaxrs-2.1</feature>
        <feature>servlet-4.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

    <webApplication location="wlp-resteasy-servletrequest-javax.war" contextRoot="/" />
</server>